<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Lalamove</title>
<link href="//fonts.googleapis.com/css?family=Noto+Sans:700,400,400i,700i" rel="stylesheet">

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

<!-- Plugin CSS -->
<link rel="stylesheet" href="css/animate.min.css" type="text/css">

<!-- Custom CSS -->
<link rel="stylesheet" href="css/style.css" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-static-top mainheader">
  <div class="container-fluid navbody"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header row">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <div class="col-sm-12 col-md-3"> <a class="navbar-brand page-scroll mob_menu" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" type="button"><img src="images/logo.png" alt="Logo"></a> <a class="navbar-brand page-scroll screen" href="index.html"><img src="images/logo.png" alt="Logo"></a> <a class="navbar-brand page-scroll strick" href="index.html"><img src="images/logo.png" alt="Logo"></a> </div>
      <div class="col-sm-12 col-md-9 mobPanelCss innerNav">
        <div class="collapse navbar-collapse smalltog" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li> <a class="page-scroll" href="index.html" class="signintab">Home</a> </li>
            <li> <a class="page-scroll" href="business.html">Business</a> </li>
            <li class="active"> <a class="page-scroll" href="driver.html">Driver</a> </li>
            <li> <a class="page-scroll" href="hiw.html">How It Works</a> </li>
            <li> <a href="pricing.html" >Pricing</a> </li>
            <li> <a href="bangkok.html" >Bangkok</a> </li>
            <li class="hs-menu-quote"><a href="#" target="_blank">Instant Quote</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- /.navbar-collapse --> 
    
  </div>
  <!-- /.container-fluid --> 
</nav>

<!--Video Section-->
<header class="innerBanner">
  <div class="header-content">
    <section class="content-section video-section">
      <div class="pattern-overlay">
        <div class="vid_ban_panel screen_ban">
          <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel"> 
            <!-- Carousel items -->
            <div class="carousel-inner carousel-zoom">
              <div class="active item"><img class="img-responsive"  src="images/lalamove_driver_delivery.jpg"></div>
            </div>
          </div>
        </div>
        <div class="vid_ban_panel mob_ban">
          <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel"> 
            <!-- Carousel items -->
            <div class="carousel-inner carousel-zoom">
              <div class="active item"><img class="img-responsive"  src="images/lalamove_driver_delivery.jpg"></div>
            </div>
          </div>
        </div>
        <div class="container usermob">
          <div class="row">
            <div class="col-lg-12"> 
              <!-- <div class="mob_logo"><a href="index.html"><img src="images/logo.png" alt="" class="img-responsive"></a></div>--> 
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</header>

<!-- form panel on banner  -->
<div class="bannerFormPanel">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 lftContBanner">
        <h2>Lalamove for Business</h2>
        <h3>We make delivery fast & simple so you can focus on growing your business.</h3>
      </div>
      <div class="col-sm-12 col-md-4 rhtFormBanner">
        <h3>Contact us for details about corporate packages</h3>
        <div class="formAll">
          <ul class="form-section">
            <li>
              <label>Name <span class="form-required"> * </span></label>
              <input name="name" class="form-control" value="" required type="text">
            </li>
            <li>
              <label>Company Name <span class="form-required"> * </span></label>
              <input name="cname" class="form-control" value="" required type="text">
            </li>
            <li>
              <label>Work E-mail <span class="form-required"> * </span></label>
              <input name="email" class="form-control" value="" required type="text">
            </li>
            <li>
              <label>Phone Number </label>
              <input name="email" class="form-control" value="" required type="text">
            </li>
            <li>
              <button id="input_2" type="submit" class="form-submit-button" data-component="button"> Submit </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Two Col -->

<section class="bg-default sectionThree">
  <div class="container-fluid">
    <div class="row">
      <div class="forBusiness seenOn">
        <h2>As Seen On</h2>
        <figure><img src="images/media-logos.png" alt="" class="img-responsive"></figure> 
      </div>
    </div>
  </div>
</section>
 
<section class="bg-default sectionone">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center firstcont">
        <h2>Why Become a Lalamove Driver Now ?</h2>
        <h3>We show you delivery requests nearby.<br> So you can earn on your every trip.</h3>
        <div class="threeColIcons">
          <div class="col-sm-12 col-md-4">
            <figure><img src="images/No+Monthly+Fee.png" alt=""></figure>
            <span>Absolutely No Monthly Fee</span> 
          </div>
          <div class="col-sm-12 col-md-4">
            <figure><img src="images/Idle+Time+Income.png" alt=""></figure>
            <span>Turn Idle Time Into Extra Income</span> 
          </div>
          <div class="col-sm-12 col-md-4">
            <figure><img src="images/Work+Own+Schedule.png" alt=""></figure>
            <span>Work At Your Own Schedule</span> 
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Four col -->
<section class="bg-default sectiontwo">
  <div class="container-fluid">
    <div class=" ">
      <div class="col-lg-12 text-center firstcont">
        <div class="smallCoroSlide">
           
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
          <div class="item  active">
            <img src="images/BK_How_to_use_desktop_driver_eng01.jpg" class="img-responsive">
          </div>
           <div class="item">
            <img src="images/BK_How_to_use_desktop_driver_eng02.jpg" class="img-responsive">
          </div>
           <div class="item">
            <img src="images/BK_How_to_use_desktop_driver_eng03.jpg" class="img-responsive">
          </div>
           
           
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>                          
    
  
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Five Col -->
<section class="bg-default sectionone">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center firstcont">
        <h2>Get Started Today</h2>
        <h3>Sign up today to start earning</h3>
      </div>
    </div>
    <div class="fiqBtn"><a href="#" target="_blank" class="custom-btn orange-btn">Sign us now</a></div>
  </div>
</section>

<!-- footer panel -->
<section class="footerpanel">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-lg-12"> 
        <!-- logo -->
        <div class="col-md-3 footlogo"><img src="images/logoFooter.png" alt=""></div>
        
        <!-- navigation -->
        <div class="col-xs-12 col-sm-12 col-md-6 foot_nav_panel">
          <ul class="foot_nav">
            <li class="col-sm-12 col-md-4"> <span>company</span>
              <ul>
                <li> <a href="#">contact us</a></li>
                <li> <a href="#">careers</a></li>
              </ul>
            </li>
            <li class="col-sm-12  col-md-4"> <span>cites</span>
              <ul>
                <li> <a href="#">Bangkok</a></li>
                <li> <a href="#">Manila</a></li>
                <li> <a href="#">Bangkok</a></li>
                <li> <a href="#">Manila</a></li>
                <li> <a href="#">Bangkok</a></li>
                <li> <a href="#">Manila</a></li>
              </ul>
            </li>
            <li class="col-sm-12  col-md-4"> <span>company</span>
              <ul>
                <li> <a href="#">contact us</a></li>
                <li> <a href="#">careers</a></li>
              </ul>
            </li>
          </ul>
        </div>
        
        <!-- social media -->
        <div class="col-xs-12 col-sm-12 col-md-3 app_icons">
          <h4>download user app !</h4>
          <a href="#"><img src="images/as_img.png"></a> <a href="#"><img src="images/gp_img.png"></a> </div>
      </div>
    </div>
  </div>
</section>

<!-- jQuery --> 
<script src="js/jquery.js"></script> 

<!-- Bootstrap Core JavaScript --> 
<script src="js/bootstrap.min.js"></script> 
<script> 
     var lastScrollTop = 0;
     $(window).scroll(function (event) {
     //    console.log($(this).scrollTop());
         var st = $(this).scrollTop();
         if (st > lastScrollTop) {
             // downscroll code

             //console.log("down");

             $('.mainheader').addClass("sticky");  //hide
 
         } else {
             // upscroll code
             //console.log("up");
             $('.mainheader').removeClass("sticky");
         }
         lastScrollTop = st;
         if ($(this).scrollTop() > 0)
         {
             $('.mainheader').addClass("bg_header");
         }else
         {
             $('.mainheader').removeClass("bg_header");
         }


     });
 </script>
</body>
</html>
