<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Lalamove</title>
<link href="//fonts.googleapis.com/css?family=Noto+Sans:700,400,400i,700i" rel="stylesheet">

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

<!-- Plugin CSS -->
<link rel="stylesheet" href="css/animate.min.css" type="text/css">

<!-- Custom CSS -->
<link rel="stylesheet" href="css/style.css" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css"> 

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-static-top mainheader">
  <div class="container-fluid navbody"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header row">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <div class="col-sm-12 col-md-3"> <a class="navbar-brand page-scroll mob_menu" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" type="button"><img src="images/logo.png" alt="Logo"></a> <a class="navbar-brand page-scroll screen" href="index.html"><img src="images/logo.png" alt="Logo"></a> <a class="navbar-brand page-scroll strick" href="index.html"><img src="images/logo.png" alt="Logo"></a> </div>
      <div class="col-sm-12 col-md-9 mobPanelCss innerNav">
        <div class="collapse navbar-collapse smalltog" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right hiwNav">
            <li> <a class="page-scroll" href="index.html" class="signintab">Home</a> </li>
            <li> <a class="page-scroll" href="business.html">Business</a> </li>
            <li> <a class="page-scroll" href="driver.html">Driver</a> </li>
            <li> <a class="page-scroll" href="hiw.html">How It Works</a> </li>
            <li class="active"> <a href="pricing.html" >Pricing</a> </li>
            <li> <a href="bangkok.html" >Bangkok</a>
            <ul class="dropdown">
            <li> <a href="bangkok.html" >Bangkok</a>
            <li> <a href="bangkok.html" >Hong Kong</a>
            <li> <a href="bangkok.html" >Manila</a>
            <li> <a href="bangkok.html" >Singapore</a>
            </ul>
             </li>
            <li class="hs-menu-quote"><a href="#" target="_blank">Instant Quote</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- /.navbar-collapse --> 
    
  </div>
  <!-- /.container-fluid --> 
</nav>
 <div class="clearfix"></div>
 <div class="hiwTopMar">&nbsp;</div>
 
 <!-- slider -->
 <section class="bg-default sectionone">
  <div class="container-fluid">
    <div class=" ">
      <div class="col-lg-12 text-center firstcont">
        <div class="smallCoroSlide">
           <h2 class="srHead"> Standard Rates <figure><img src="images/BK_pricelist_tai_car.jpg" alt="" class="img-responsive"></figure></h2>
         <div class="table-responsive priceTable">
         <table class="table-condensed">
         <tr></tr>
         </table>
         </div>	
                                 
    
  
        </div>
      </div>
    </div>
  </div>
</section>

 
<!-- footer panel -->
<section class="footerpanel">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-lg-12"> 
        <!-- logo -->
        <div class="col-md-3 footlogo"><img src="images/logoFooter.png" alt=""></div>
        
        <!-- navigation -->
        <div class="col-xs-12 col-sm-12 col-md-6 foot_nav_panel">
          <ul class="foot_nav">
            <li class="col-sm-12 col-md-4"> <span>company</span>
              <ul>
                <li> <a href="#">contact us</a></li>
                <li> <a href="#">careers</a></li>
              </ul>
            </li>
            <li class="col-sm-12  col-md-4"> <span>cites</span>
              <ul>
                <li> <a href="#">Bangkok</a></li>
                <li> <a href="#">Manila</a></li>
                <li> <a href="#">Bangkok</a></li>
                <li> <a href="#">Manila</a></li>
                <li> <a href="#">Bangkok</a></li>
                <li> <a href="#">Manila</a></li>
              </ul>
            </li>
            <li class="col-sm-12  col-md-4"> <span>company</span>
              <ul>
                <li> <a href="#">contact us</a></li>
                <li> <a href="#">careers</a></li>
              </ul>
            </li>
          </ul>
        </div>
        
        <!-- social media -->
        <div class="col-xs-12 col-sm-12 col-md-3 app_icons">
          <h4>download user app !</h4>
          <a href="#"><img src="images/as_img.png"></a> <a href="#"><img src="images/gp_img.png"></a> </div>
      </div>
    </div>
  </div>
</section>

<!-- jQuery --> 
<script src="js/jquery.js"></script> 

<!-- Bootstrap Core JavaScript --> 
<script src="js/bootstrap.min.js"></script> 
<script> 
     var lastScrollTop = 0;
     $(window).scroll(function (event) {
     //    console.log($(this).scrollTop());
         var st = $(this).scrollTop();
         if (st > lastScrollTop) {
             // downscroll code

             //console.log("down");

             $('.mainheader').addClass("sticky");  //hide
 
         } else {
             // upscroll code
             //console.log("up");
             $('.mainheader').removeClass("sticky");
         }
         lastScrollTop = st;
         if ($(this).scrollTop() > 0)
         {
             $('.mainheader').addClass("bg_header");
         }else
         {
             $('.mainheader').removeClass("bg_header");
         }


     });
 </script>
</body>
</html>
