/*Error field design*/
      .password-danger{
        font-size: 15px;
        float: right;
      }
      .email-danger > p{
        font-size: 13.5px;
        margin-left: 31%;
      }
      .mobile-danger > p{
        font-size: 13.5px;
        margin-left: 34%;
      }
      .mpassword-danger{
        font-size: 15px;
        float: right;
      }

      .suc-alert{
      	margin-bottom: 0;
		margin-left: 25%;
		padding: 0;
		text-align: center;
		width: 50%;
	}
	.lgt-cls-hide{
		display: none !important;
	}
   .cmn-cls-width{
        width: 100% !important;
      }

    .order-overlay-passenger {
  /*margin-left: 3%;*/
  margin-top: 3%;
  /*width: 94%;*/
}
.order-overlay-myfleet, .order-overlay-passenger {
  display: inline-block;
  height: 36px;
  line-height: 17px;
  min-height: 14px;
  vertical-align: bottom;
}
.icon-passenger::before {
  content: "";
}
.passenger-total-ctn {
  color: #58595b;
  display: inline-block;
  font-size: 12px;
  padding-top: 11px;
  width: 231px;
}
.passenger-increase-ctn {
  margin-right: 10px;
}
.passenger-decrease-ctn, .passenger-increase-ctn {
  border: 1px solid #e0e0e0;
  display: inline-block;
  float: right;
  height: 25px;
  position: relative;
  top: 5px;
  width: 45px;
}
.passenger-decrease-ctn, .passenger-increase-ctn {
  border: 1px solid #e0e0e0;
  display: inline-block;
  float: right;
  height: 25px;
  position: relative;
  top: 5px;
  width: 45px;
}
.overlay-menu, .overlay-records-menu {
  background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
  box-shadow: 0 2px 11px 0 rgba(136, 136, 136, 0.91);
  display: none;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: absolute;
  top: 0;
  width: 405px;
  z-index: 999;
}
.back-btn-ctn, .overlay-title-ctn {
  display: inline-block;
  font-size: 13px;
  line-height: 27px;
  min-height: 27px;
  padding: 0 3%;
  width: 97%;
}
.asd-title {
  color: #b4b4b4;
  font-size: 10px;
  text-transform: uppercase;
  top: 10px;
}
.asd-title, .jcarousel, .jcarousel ul {
  position: relative;
}
#import-address-back-btn, #ongoing-order-back-btn {
  border: medium none;
  float: right;
  margin-bottom: 25px;
  width: 7px;
}
.overlay-back-btn {
  border: 1px solid #f16622;
  color: #f16622;
  float: left;
  font-size: 14px;
  height: 25px;
  margin: 0 15px 0 20px;
  padding-top: 10px;
  text-align: center;
  width: 250px;
}
.additional-service-checkbox {
  background: rgba(0, 0, 0, 0) url("../images/special-feature-checkbox-sprite.png") no-repeat scroll 0 0 / 35px auto;
  float: left;
  margin-top: 2px;
}
#optimizeRouteCheckBox, .additional-service-checkbox, .additional-service-checkbox-b {
  display: inline-block;
  height: 18px;
  width: 17px;
}
.close-additionalService{
  color: #f16622;
  font-size: 21px;
  margin-top: 10px;
}
.additional-service-item-checkbx {
  /*float: left;*/
  font-size: 13px;
  margin: 0 10px;
  
  overflow: hidden;
    font-size: 13px;
  /*margin: 0 3% 5%;*/
  
}

.input-right-text {
  float: right;
  width: 130px;
  top: 17px;
  right: 6px;
  text-align: right;
}
.input-right-icon.recipient-info-icon, .input-right-text {
  font-size: 12px;
  color: #f16622;
  position: absolute;
  cursor: pointer;
}

.disable-link{
  pointer-events:none;
  opacity: 0.5;
}
[class*=" icon-"], [class^="icon-"] {
  font-family: lalamove !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.back-btn-ctn, .overlay-title-ctn {
  display: inline-block;
  font-size: 13px;
  line-height: 27px;
  min-height: 27px;
  padding: 0 3%;
  width: 92%;
}
.order-overlay-top-title {
  font-size: 10px !important;
  color: #B4B4B4 !important;
  margin-bottom: 5px !important;
  font-weight: 700 !important;
}
.payment-btn-ctn {
  margin: 0 3% 5px;
  width: 94%;
  border-radius: 10px;
}
.payment-btn-ctn .wallet-item-1-2 {
  padding: 0;
}
.wallet-item-1-2 {
  box-sizing: border-box;
  float: left;
  font-size: 12px;
  padding: 10px 0 0;
  width: 50%;
  color: #58595B;
  min-height: 0px!important;
}
.alg-c {
  text-align: center;
}
.payment-btn {
  height: auto;
  padding: 8px 0;
}
.payment-btn {
  box-sizing: border-box;
  height: 70px;
  padding-top: 15px;
  width: 100%;
}
.payment-btn, .total-desc-hk {
  font-size: 13px;
}
[class*=" icon-"], [class^="icon-"] {
  font-family: lalamove !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.payment-btn-ctn .wallet-item-1-2 {
  padding: 0;
}

[class*=" icon-"], [class^="icon-"] {
  font-family: lalamove !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pointer_event{
  pointer-events: none;
}
.opacity_additional{
  opacity: 0.5;
}
.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 26px;
  float: right;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f16622;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f16622;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.account-name-input{
  width: 80% !important;
  padding-left: 0px !important;
  border-bottom: 0 !important;
}
.account-email-input{
  width: 90% !important;
  padding-left: 0px !important;
  border-bottom: 0 !important;
}
.user-ic{
  color: #f16622;
  position: relative;
}
.hr-cls{
    margin-top: -6px;
    display: block;
    margin: 0rem;    
    margin-left: auto;
    margin-right: auto;    
    border-width: 1px;
}
.main-div{
  width: 87%;
  margin-left: 20px;
}

.profile-settings-btn {
  background-color: #fff;
  border-color: #f16622;
  border-style: solid;
  border-width: 1px;
  color: #f16622;
  font-size: 12px;  
  height: 21px;
  margin-left: 3px;
  padding: initial;  
}
.account-pwd{
  float: left;
}
.lightbox-btn-cstm{
  font-size: 13px;
  float: right;
margin: 0;
text-align: center;
width: 15%;
}
.dismisss-btn{
  margin-left: 11rem;
  color: #f16622 !important;
  background-color: white !important;
}
.lightbox-btn-pwd{
  font-size: 15px !important;
  padding: 6px 13px 6px 13px!important;
}
.settings_click{
  background-color: #fff !important;
padding-left: 44px !important;
  padding-top: 8px !important;
  width: 100% !important;
}
.settings_click:hover{  
  color: #ee6c35 !important;  
}
.settings-toggle{
  margin-left: -9.7rem !important;
}
.payment-btn-ctn {
  border-radius: 10px;
  margin: 0 3% 5px;
  width: 94%;
}

.alg-c {
  text-align: center;
}
.payment-btn {
  height: auto;
  padding: 8px 0;
}
.payment-btn {
  box-sizing: border-box;
  height: 70px;
  padding-top: 15px;
  width: 100%;
}
.payment-btn, .total-desc-hk {
  font-size: 13px;
}
.dft-gry {
  color: #696969;
}
.icon-wallet_mgmt{

  background: rgba(0, 0, 0, 0) url("../images/map/icon-sprite.png") no-repeat scroll 0 -174px;
  display: inline-block;
  height: 27px;
  position: relative;
  width: 33px;

}
/*.icon-wallet_mgmt::before {
  content: "\e952";
}*/

.icon-cash {
  background: rgba(0, 0, 0, 0) url("../images/map/dollar-coins_32.png") no-repeat scroll 0 0 / 30px 26px;
  display: inline-block;
  height: 26px;
  margin-left: 5px;
  position: relative;
  text-align: center;
  width: 35px;
}
.back-btn-ctn, .overlay-title-ctn {
  display: inline-block;
  font-size: 13px;
  line-height: 27px;
  min-height: 27px;
  padding: 0 3%;
  width: 92%;
}
.order-overlay-top-title {
  color: #b4b4b4 !important;
  font-size: 10px !important;
  font-weight: 700 !important;
  margin-bottom: 5px !important;
}
.back-btn-ctn, .overlay-title-ctn {
  display: inline-block;
  font-size: 13px;
  line-height: 27px;
  min-height: 27px;
  padding: 0 3%;
  width: 92%;
}
.order-overlay-top-title {
  color: #b4b4b4 !important;
  font-size: 10px !important;
  font-weight: 700 !important;
  margin-bottom: 5px !important;
}
.wallet-detail-ctn {
  margin-bottom: 20%;
  padding: 0 3%;
  width: 94%;
}

#not-include, #not-include-advan {
  color: #b4b4b4;
  font-size: 10px;
  font-weight: 300;
}
.alg-r {
  text-align: right;
}
#city-picker1 {
  /*background: rgba(0, 0, 0, 0) url("../images/map/header-sprite.png") no-repeat scroll 10px -34px;*/
  display: inline-block;
  font-size: 13px;
  height: 21px;
  padding: 17px 15px 30px 40px;
}