/*Error field design*/
      .password-danger{
        font-size: 15px;
        float: right;
      }
      .email-danger > p{
        font-size: 13.5px;
        margin-left: 31%;
      }
      .mobile-danger > p{
        font-size: 13.5px;
        margin-left: 34%;
      }
      .mpassword-danger{
        font-size: 15px;
        float: right;
      }

      .suc-alert{
      	margin-bottom: 0;
		margin-left: 25%;
		padding: 0;
		text-align: center;
		width: 50%;
	}
	.lgt-cls-hide{
		display: none !important;
	}